*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Trebuchet MS", sans-serif;
  background: radial-gradient(circle at top, #222016, #0a0907);
  color: #f7f5f0;
}

body {
  margin: 0;
}

#game-root {
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
}
